<!-- Footer -->
<footer class="py-5 bg1">
  <div class="container">
    <p class="m-0 text-center text-white">
      Desenvolvido por 
      <a class="text-warning" 
      href="https://www.facebook.com/w3SoftwareNetBr">
        W3_Software
      </a>
    </p>
  </div>
  <!-- /.container -->
</footer>