<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Delivery 1.0</title>
    <meta name="description" content="Web Delivery 1.1 Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<%-include('include/top-links.ejs')%>
		
</head>

<body>

	<%-include('include/left-panel.ejs')%>

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<%-include('include/header.ejs')%>
		<!-- main content -->
		<div class="content mt-3">
			<div id="variableContent">
				
				<div class="card-columns">
					
					<div class="card bg-light">
						<div class="card-body text-center">
							<p class="card-text">
								<a href="/no-fulfilled-orders">Novos Pedidos</a>
							</p>
						</div>
					</div>

					<div class="card bg-light">
						<div class="card-body text-center">
							<p class="card-text">
								<a href="/low-stoque">Estoque em Baixa</a>
							</p>
						</div>
					</div>

					<div class="card bg-light">
						<div class="card-body text-center">
							<p class="card-text">
								<a href="/no-readed">Novas Mensagens</a>
							</p>
						</div>
					</div>

					<div class="card bg-light">
						<div class="card-body text-center">
							<p class="card-text">
								<a href="/show-products">Produtos Cadastrados</a>
							</p>
						</div>
					</div>

					<div class="card bg-light">
						<div class="card-body text-center">
							<p class="card-text">
								<a href="/show-users">Clientes Cadastrados</a>
							</p>
						</div>
					</div>

					<div class="card bg-light">
						<div class="card-body text-center">
							<p class="card-text">
								<a href="/show-neighborhood">Bairros Atendidos</a>
							</p>
						</div>
					</div>
					
				</div>							

			</div>
		</div> <!-- /main content -->

	</div><!-- /#right-panel -->

	<!-- Right Panel -->

	<%-include('include/bottom-links.ejs')%>

	<script src="admin.js"></script>

</body>

</html>
