<div class="card">
  <div class="card-header"><h3>Novo Bairro</h3></div>
  <div class="card-body card-block">
    <form action="/new-neighborhood" method="post" id="neighborrodForm">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Nome</div>
          <input type="text" id="name" name="name" placeholder="Nome do bairro"
          class="form-control" name="name">
        </div>
      </div>

      <div class="form-actions form-group">
        <div class="row">
          <div class="col-sm-3">
            <button type="button" class="form-control btn btn-info"
              onclick="Neighborhood.save()">Salvar</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="form-control btn btn-warning"
              onclick="return document.location.href='/admin'">Cancelar</button>
          </div>
        </div>        
      </div>

    </form>
  </div>
</div>
